/* LANDING PAGE */
.title-page {
  text-align: center;
  background: url('./app-images/background.jpg');
  background-position: center right;
  background-repeat: none;
  background-size: cover;
  min-height: 100vh;
  padding: 40px;
}

.title-page h1{
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 100px;
  margin-bottom: 20px;
}
.title-page h3{
  font-family: 'Gothic A1', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-bottom: 60px;
}

.home-link{
  color: white;
  padding: 14px 24px;
  text-align: center; 
  text-decoration: none;
  background-color: rgb(223, 10, 10);
  font-weight: bold;
  border-radius: 6px;
}

.home-link:hover { 
  background-color: rgb(223, 10, 10, 0.5);
}


/* CATEGORIES/HOME PAGE */
.home{
  background-color: yellow;
}

.all-categories{
  display: grid;
  grid-template-columns: 400px 400px;
  margin-left: 43vh;
}

.each-category{
  font-size: 30px;
  text-align: center;
  justify-items: center;
  position: relative;
}

.each-category img {

}
img{
  height: 300px;
  width: 300px;
}

