/* LANDING PAGE */
.title-page {
  text-align: center;
  background: url('./app-images/background.jpg');
  background-position: center right;
  background-repeat: none;
  background-size: cover;
  min-height: 100vh;
  padding: 40px;
}

.title-page h1{
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 100px;
  margin-bottom: 20px;
}
.title-page h3{
  font-family: 'Gothic A1', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-bottom: 60px;
}

.home-link{
  color: white;
  padding: 14px 24px;
  text-align: center; 
  text-decoration: none;
  background-color: rgb(223, 10, 10);
  font-weight: bold;
  border-radius: 6px;
}

.home-link:hover { 
  background-color: rgb(223, 10, 10, 0.5);
}


/* CATEGORIES/HOME PAGE */
.home h1{
  font-family: 'Barriecito', cursive;
  text-align: center;
  font-size: 100px;
}

.all-categories{
  display: grid;
  grid-template-columns: 400px 400px;
  /* margin-left: 43vh; */
  margin: 0 auto;
}

.each-category{
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-top: 20px;
  padding: 0;
}

.cat-name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-weight: bold;
}
.each-category img {
  height: 300px;
  width: 350px;
  border-radius: 15px;
  
}

/* RESTAURANTS */
.all-restaurants{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.create-rest form{
  margin-left: 20%;
  margin-right: 20%;
}

.create-rest input{

}
.all-restaurants input{
  display: block;
  /* margin-left: 5vw; */
  /* padding: 5px; */
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}
.all-restaurants img{
  height: 300px;
  width: 300px;
}

