.title-page {
  text-align: center;
  background: url('./app-images/background.jpg');
  background-position: center right;
  background-repeat: none;
  background-size: cover;
  min-height: 100vh;
  padding: 40px;
  /* filter: blur(1px); */

}

.title-page h1{
  font-family: 'Barriecito', cursive;
}

img{
  height: 300px;
  width: 300px;
}

